<div class="row" Id="ContenedorEstudios">
    <div>
      <span>Estudios</span> 
      <span style="float: right;margin-right: 10px;"><button type="button" class="Editar"><span id="mas"></span></button></span>
    </div>

    <div class="estudios">
        <span style="float: left;"><a target="_blank" href="http://inac.edu.ar/" class="linkLogos">
          <img src="IMG/CIATA.jfif" class="Flogos CIATA"></a>
        </span>
        <span style="float: left;" class="TextoEstudios">
          <strong>
          <a target="_blank" href="https://exactas.uba.ar/" class="linkEstudios">I.N.A.C. C.I.A.T.A.</a>
          <br>
          Tecnico Aeronautico (2015-2021)
        </strong>
        </span>
        <span style="float: right;margin-top: 10px;">
          <button type="button" class="Camion"><img src="IMG/camion.png" width="20px" height="20px"></button>
        </span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;">
          <button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button>
        </span>
    </div>

    <div class="estudios">
        <span style="float: left;">
          <a target="_blank" href="https://www.youtube.com/@OIAUNLaM" class="linkLogos">
            <img src="IMG/OIA.jfif" alt="O.I.A" class="Flogos C">
          </a>
        </span>
        <span style="float: left;" class="TextoEstudios">
          <strong class="centrado">
          <a target="_blank" href="https://exactas.uba.ar/" class="linkEstudios">Curso C++</a>
          <p>Pasantias Virtuales (2021)</p>
        </strong>
        </span>
        <span style="float: right;margin-top: 10px;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;"><button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button></span>
    </div>

    <div class="estudios">
        <span style="float: left;">
          <a target="_blank" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="linkLogos">
          <img src="IMG/ARG1.jpg" alt="Se programar" class="Flogos C"></a>
        </span>
        <span style="float: left;" class="TextoEstudios">
          <strong class="centrado">
          <a target="_blank" href="https://exactas.uba.ar/" class="linkEstudios">Argentina Programa</a><p>(2022-2023)</p></strong>
        </span>
        <span style="float: right;margin-top: 10px;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;"><button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button></span>
    </div>

    <div class="estudios">
        <span style="float: left;"> 
          <a target="_blank" href="https://exactas.uba.ar/" class="linkLogos">
          <img src="https://ar.images.search.yahoo.com/images/view;_ylt=AwrEr82K1ghkR2sX85ut9Qt.;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzVmNmE1NzFkYzRjYzVjMzZiMjE4ODJkYWZkNWE2YzM3BGdwb3MDMgRpdANiaW5n?back=https%3A%2F%2Far.images.search.yahoo.com%2Fsearch%2Fimages%3Fp%3Duba%2Bexactas%26type%3DE210AR91215G0%26fr%3Dmcafee%26fr2%3Dpiv-web%26tab%3Dorganic%26ri%3D2&w=3508&h=2481&imgurl=bacterminador.com.ar%2Fwp-content%2Fuploads%2F2015%2F04%2FLogo-EXACTAS.jpg&rurl=https%3A%2F%2Fbacterminador.com.ar%2Fquienes-somos%2F&size=1556.0KB&p=uba+exactas&oid=5f6a571dc4cc5c36b21882dafd5a6c37&fr2=piv-web&fr=mcafee&tt=Equipo+%7C+Bacterminador&b=0&ni=21&no=2&ts=&tab=organic&sigr=.EKP1oMwCbmo&sigb=EiRIizaYiV7B&sigi=JLUSGNmPbhlr&sigt=kFPIjeXu47ZH&.crumb=3htO4X2jQin&fr=mcafee&fr2=piv-web&type=E210AR91215G0" alt="UBA Exactas" class="Flogos" /></a>
        </span>
        <span style="float: left;" class="TextoEstudios">
          <strong class="centrado">
          <a target="_blank" href="https://exactas.uba.ar/" class="linkEstudios">1°Año Lic. En Cs. Fisicas</a>
          <p>Cursando (2021-)</p></strong>
        </span>
        <span style="float: right;margin-top: 10px;">
          <button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button>
        </span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;">
          <button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button>
        </span>
    </div>
  </div>
  
