<div class="row" id="descripcion">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="SobreMi">
        <h5>Sobre Mi</h5>
        <strong>
        Empece en la programacion por el gusto en la resolucion de problemas, asi inicie en c++ orientado 
        en competir. Al ir profundizando me comenzo a interesar el desarrollo web pero siempre manteniendo 
        el enfoque de la practicidad y optimazion del codigo aprendido y mi corto trayecto por la competicion.
        </strong>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" id="Intereses">
        <h4>Intereses</h4>
        <ul>
           <li>Dibujo</li>
           <li>Matematica</li>
           <li>Lectura</li>
           <li>Juegos</li>
           <li>Mate 🧉</li> 
        </ul>
    </div>
</div>
