<div class="row" style="padding-left: 1%;padding-right: 1%;">
    <!--<div class="col-md-1 col-lg-1 col-xl-1"></div>-->

    <div class="col-md-12 col-lg-12 col-xl-12 portada" style="background-image: url(IMG/7.2.jfif);">
      <span id="Yo">
        <img src="IMG/yo.jpg"  style="border-radius: 45%;float: left;margin-left: 10px;margin-bottom: 10px;" width="auto" height="100px">
          <p id="TextoInicial">
            <b>
              <strong>Lu</strong>cas Martin Buzzoni <br>
              <strong>Fu</strong>ll Stack Development Jr. <br>
              <strong>Te</strong>cnico Aeronautico 
            </b>
          </p>
      </span>
    </div>
  </div>