

<section class="row" style="margin: 1% 0.5%;" id="Exp">
    <div>
      <span style="color: rgb(249, 250, 179);">Experiencia</span>
      <button type="button" id="SumarExp" style="float: right;margin-right: 10px;">
        <span id="mas"></span>
      </button>  
    </div>

    <!--Proyectos-->

    <div>
      <div>
      <span style="color: rgb(249, 250, 179);">Proyectos</span> 
      <span style="float: right;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
      <span style="float: right;margin-right: 10px;"><button type="button" class="Editar"><span id="mas"></span></button></span>
      </div>

      <div>
        <span><img src="IMG/5.jfif" width="50px" height="50px" /></span>
        <span style="color: rgb(249, 250, 179);">Mi portfolio</span>
        <span style="float: right;margin-top: 10px;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;"><button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button></span>
      </div>

    </div>

    <!--Puestos-->
    <div id="puesto">
      <div>
      <span style="color: rgb(249, 250, 179);">Puesto</span> 
      <span style="float: right;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
      <span style="float: right;margin-right: 10px;"><button type="button" class="Editar"><span id="mas"></span></button></span>
      </div>

      <div>
        <span><img src="IMG/PUTO.jfif" width="50px" height="50px" /></span>
        <span style="color: rgb(231, 238, 191);">Puto</span>
        <span style="float: right;margin-top: 10px;"><button type="button" class="Camion"><img src="IMG/CAMION.png" width="20px" height="20px"></button></span>
        <span style="float: right;margin-right: 5px;margin-top: 10px;"><button type="button" class="Editar"><img src="IMG/LAPIZ2.png" width="10px" height="auto"></button></span>
      </div>

    </div>

  <script>
    function AgregarPuestos() {
      document.getElementById('puesto').style.display = 'block';
      document.getElementById('SumarExp').style.display = 'none';
    }
    document.getElementById('SumarExp').onclick = AgregarPuestos;
  
  </script>


  </section>
