<section id="Skills" 
    onmouseover="avion.display = 'block',cola.display = 'block' ,flap.display = 'block' ,timon.display = 'block'"
    onmouseout="avion.display = 'none',cola.display = 'none' ,timon.display = 'none',flap.display = 'none'"
    onmousemove="seguir(),seguir2(),seguir3(),seguir4()">
      <div >
        <h5 style="color: rgb(243, 238, 169);margin-left: 1%;">Habilidades</h5>
      </div>
      <div class="Tavion">
      <div id="avion"><div id="ventanas"></div></div>
      <div id="cola"></div>
      <div id="timon"></div>
      <div id="flap"></div>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2021 
        <p class="tecnologia" style="width: 100px;left:-19px">HTML & CSS</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2021 
        <p class="tecnologia" style="left: -13px;">Bootstrap</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2022 
        <p class="tecnologia" style="left: -14px;">JavaScript</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto"> 2022 
        <p class="tecnologia" style="left: -9px;">Git/Hub</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto"> 2022 
        <p class="tecnologia" style="left: -8px;">Angular</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2021 
        <p class="tecnologia" style="left: -14px;">TypeScript</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2021 
        <p class="tecnologia">HTML</p></strong>
      </div>

      <div class="Banderas">
        <span class="poste">
        <div class="bola"></div>
        <div class = "flag"></div>
        <img class="pista" src="IMG/PistaVacia.jpg" />
        <img class="pistaV" src="IMG/PistaCVion.jfif" />
        </span>
        <div class="circulo"></div>
        <strong class="texto">2021 
        <p class="tecnologia">HTML</p></strong>
      </div>

</section>